{% load static %}
{% load cms_tags %}

<div class='container-fluid homepage_image' style='padding: 0'>
	<div class='image_container'>
		{% comment %}
		before cms:
		<img src="{% static main_image_file %}">
		{% endcomment %}
		{% placeholder 'main_image' %}
	</div>
	<div class='homepage_image_text'>
		<h3>
			{% comment %}
			{{ main_image_header_text }}
			<a href='{% url main_image_button_link_name %}' style='text-decoration:none;' class="btn btn-danger btn-block">
				{{ main_image_button_text }}
			</a>
			<span><p>{{ main_image_content_text }}</p></span>
			{% endcomment %}
			{% placeholder 'main_image_text' %}
		</h3>
	</div>
</div>