{% extends 'cms/base_sidebar_both.html' %}

{% load crispy_forms_tags %}
{% load cms_tags %}

{% block page_content_block %}
<row style='text-align:center;'>
	<p><a class='btn btn-sm btn-primary' href="{% url 'auth_logout' %}?next={% url 'index' %}" style='color:#fff'>Click here</a> to log out.</p>
</row>
<ul id='account-tabs' class="nav nav-pills nav-justified" role='tablist'>
  <li role="presentation"><a href="#tab1" id='tab1-tab' role='tab' data-toggle='tab' aria-controls='tab1' aria-expanded='false'>My Account</a></li>
  <li role="presentation"><a href="#tab2" id='tab2-tab' role='tab' data-toggle='tab' aria-controls='tab2' aria-expanded='false'>My Details</a></li>
</ul>
<div id='account-tab-content' class='tab-content'>
	<div role='tabpanel' class='tab-pane fade' id='tab1' aria-labelledby='tab1-tab'>
		<div class='table-responsive'>
			{% include 'user_interface/account_log_table.html' %}
		</div>
	</div>
	<div role='tabpanel' class='tab-pane fade' id='tab2' aria-labelledby='tab2-tab'>
		<div class='table-responsive'>
				<a class='btn btn-primary' href='{% url 'profiles_edit_profile' %}'>Edit Your Profile</a>
				{% include 'user_interface/account_overview.html' %}
		</div>
	</div>
</div>
{% endblock page_content_block %}